body{
    margin:0px;
}
.top{
    background-color: #b6b0ff;
    font-size: 6em;
    color: #1b2f99;
    width: 100%;
    padding:5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.top img{
    height:300px;
    margin:10px 50px 10px 20px;
}
.navbar{
    background-color: #e7e5ff;
    width: 100%;
    padding:10px;
}
.btn{
    margin:0px 5px;
}
.contain{
    background-color: #b6b0ff;
    padding:20px;
}
#show{
    max-width:1750px;
    display:flex;
    flex-wrap: wrap;
    margin: 0px auto;
    padding:20px;
}
.card{
    margin:25px;
}